body{
background-color: #ec3;
}

.sideeffectspic{
  border: 2px solid #fff;
  border-radius: 10px;
}
body *{
    font-family: "Freehand 521" !important;
}
h2{
  text-align: center;
}
.side{
  margin: 0;
  font-size: 34px !important;
}
.chain{
  color: #444;
  margin: 0;
  margin-bottom: 50px;
}
.playSE, .pauseSE{
  color: #eee;
  height: 121px;
  width: 121px;
}
.pauseSE{
  /* transform: translateY(-122px); */
  opacity: 0;
  position: relative;
  left: -63px;
}
.playSE{
  z-index: 1;
  position: relative;
  left: 63px;
}
.play, .pause{
  opacity: 0;
}
.play-pause{
visibility: hidden;
}
.progress{

  background:  linear-gradient(to bottom, #ec3 0%,#ec3 35%,#ec3 35%,#ec3 40%,#000 40%,#000 53%,#ec3 53%,#ec3 60%,#ec3 60%, #ec3 100%) !important;
  border-right: 4px solid #da275d;

}
.duration{
  color: #da275d;
  text-shadow: 1px 1px 0px rgba(218, 39, 93, 0.5) !important;
}
.loaded{
  background:  linear-gradient(to bottom, #ec3 0%,#ec3 35%,#ec3 35%,#ec3 40%,#000 40%,#000 53%,#ec3 53%,#ec3 60%,#ec3 60%, #ec3 100%) !important;
}

.audiojs .scrubber{
  background:  linear-gradient(to bottom, #ec3 0%,#ec3 35%,#ec3 35%,#ec3 40%,#ccc 40%,#ccc 53%,#ec3 53%,#ec3 60%,#ec3 60%, #ec3 100%) !important;

}
section{
  background-color: rgba(255,255,255,0.1);
  border: 10px solid rgba(255,255,255,0.03);
  border-radius: 12px;

}
